<!doctype html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <title></title>
   <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
</head>
   <body>
      <header class="navbar bg-light">
      <a class="navbar-brand" href="/" style="display: block;">
         <h2 style="font-family: 'Oxanium', !important;">SN</h2>
      <p style="font-size: 12px; padding-left: 10px; margin-top: -13px;" >ShelfNavigator</p></a>
   </header>
      <h1>Your Query Product is:<br></h1>
      <table border = 1 class="table">
         <thead>
            <td>Product Name</td>
            <td>Shelf No</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["product_name"]}}</td>
               <td>{{row['shelf_no']}}</td>	
            </tr>
         {% endfor %}
      </table>
      <a href = "/" class="btn btn-link">Go back to home page</a>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>